:root{
    --brand-color:#2196F3;
    --royal-color:#2F303A;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
}
.nav-site-list{
    display: flex;
    justify-content: space-around;
    gap: 50px   ;
}
.nav-site-extra{
    display: flex;
    justify-content: space-around;
    gap: 50px   ;
}
.list-services{
    display: flex;
    justify-content: space-around;
}
.what-we-doing{
    display: flex;
    justify-content: space-between;
}
.our-team{
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: var(--brand-color)
}
.background-color{
    background-color:var(--royal-color)
}

.item-1{
    color:#FFFFFF;
}
.nav-site{
    color: black;
    font-family: "Raleway";
}
.bottom-site{
    color: white;
}
body{
    font-family: "Roboto";
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--royal-color)
}
.nav-site:hover{
    color:var(--brand-color)
}

.logo{
        font-size: 26px;
        font-weight: 700;
        line-height: 30.52px;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.logo-bottom{
    font-size: 26px;
        font-weight: 700;
        line-height: 30.52px;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
}
footer{
    display: flex;
    flex-direction: column;
}
.item-1{
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.button{
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.item-2{
        font-size: 14px;
        font-weight: 700;
        line-height: 16.41px;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.small-info{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.aboutus{
        font-size: 36px;
        font-weight: 700;
        line-height: 42.19px;
        letter-spacing: 0.03em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.ourteam{
        font-size: 36px;
        font-weight: 700;
        line-height: 42.19px;
        letter-spacing: 0.03em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.names{
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        letter-spacing: 0.03em;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
#proffession{
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            letter-spacing: 0.03em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
}
.bottominfo{
    color: #FFFFFF99;
}
.nameofthings{
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.06em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.wheretouse{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #757575;
}
.nav-page{
    display: flex;
    justify-content: center;
}
.button-services{
    display: flex;
    justify-content: center;
}