.button{
    background-color:#2196F3; ;
}
footer{
    background-color:#2F303A;;
}
section{
    background-color:  #2F303A;;
}
h1{
    color:#FFFFFF;
}
header li{
    color: black;
}
footer li{
    color: white;
}
.water{
    color: white;
}
.fire{
    color: black;
}