:root {
    --brand-color: #2196F3;
    --royal-color: #2F303A;
}
*{
    margin-block-start: 0;
    margin-block-end: 0;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
   justify-content: space-between;
}

.logo-Web {
    color: var(--brand-color);
    font-family: "Raleway";
}

.nav-site-list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 200px;
}

.nav-site-extra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
.svg-email,.svg-phone{
    stroke: black;
}
.svg-email:hover{
    stroke: rgba(33, 150, 243, 1);;
}
.list-services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 100px;
}
.li-list-services{
    width: 270px;
    text-align: center;
    pad: 20px;
}
.li-list-services::before{
    content:"" ;
    display: block;
    width: 270px;
    height: 120px;
    background-size: contain;
    background-position: center;
    margin: 0 auto 10px;
}
.li-list-services:nth-child(1)::before{
    background-image: url(./img/anthena.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
}
.li-list-services:nth-child(2)::before{
    background-image: url(./img/clock.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
}
.li-list-services:nth-child(3)::before{
    background-image: url(./img/graphics.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
}
.li-list-services:nth-child(4)::before{
    background-image: url(./img/astronaut.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
}
.what-we-doing {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.underline{
    border-bottom: 1px solid #ECECEC;   
}
.our-team {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: var(--brand-color)
}

.background-color {
    background-color: var(--royal-color)
}

.item-1 {
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav-site {
    color: black;
    font-family: "Roboto";
    font-weight: 500;
}

.bottom-site {
    color: white;
}

body {
    font-family: "Roboto";
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color: var(--royal-color)
}

.nav-site:hover{
    color: var(--brand-color)
}

.logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Raleway";
}

.logo-bottom {
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    font-family: "Raleway";
}

footer {
    display: flex; 
    gap: 75px;
    align-items: center;
    height: 252px;
    
}
.footer-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.list-footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title-footer-svg{
    font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 3%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
}
.list-svg-footer{
    display: flex;
    gap: 15px;
    align-items: center;
}
.main-portfolio{
    height: 1550px;
}
.item-1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-block-end: 0px;
}
.phonenumber{
    color: #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    font-family: "Roboto";
    border: 1px solid transparent;
}
.item-2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}
.main-section{
    height: 760px;
}
.small-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
}
.title-ourteam{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
}
.aboutus {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 50px;
}
.background-color-ourteam{
    background-color: #f5f4fa;
    height: 648px;
}
.our-team{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-member{
    background-color: #FFFFFF;
    height: 428px;
}
.div-svg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.svg-wrapper{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.svg-wrapper:hover{
    border-radius: 50%;
    background-color: #2196F3;
}
.svg-profile-icon{
    stroke: rgba(175, 177, 184, 1);;  
}
.clients{
    height: 370px;
}
.title-clients{
    font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3%;
        text-align: center;
        padding-top: 50px;
}
.list-clients{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.li-list-clients{
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-list-clients:hover{
    border: 1px solid rgba(33, 150, 243, 1);
}

.svg-client{
    fill: #757575;
}
.ourteam {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.names {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
}

#proffession {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #757575;
}

.bottominfo {
    color: #FFFFFF99;
}

.nameofthings {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 20px;
}

.wheretouse {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
    padding-left: 20px;
}

.nav-page {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.button-services {
    display: flex;
    justify-content: center;
    align-self: center;
}
.main-title{
    width:100%;
    height: 600px;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(./img/peopleworking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
}
.main-button{
    background-color: #f5f4fa;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
   
}
.div-what-we-doing{
    position: relative;
    width: 370px;
    height: 294px;
}
/* .img-what-we-doing{
    position: relative;
    z-index: 1;
} */
.title-what-we-doing{
    position: absolute;
    bottom: 0;
    left: 0%;
    z-index: 2;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 25px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.main-button:hover{
    background-color: var(--brand-color);
    color: #FFFFFF;
    box-shadow: 0px 4px 0.1px 0.1px rgba(0, 0, 0, 0.1);
}
.main-img{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.item{
    flex-basis: calc(100% - 60px) / 3;
    border: 1px solid #EEEEEE;
}
.bottom-adress{
    color: #FFFFFF;
}
.svg-footer{
    width: 44px;
}